
body{
	font-family: Arial,sans-serif;
	margin: 0;
	padding: 0
}

header,nav,main,footer{
	padding: 20px;
}

header{
	background-color: gray;
	columns: #fff;
	text-align: center;
}

nav ul{
	list-style-type: none;
	padding: 0;
}

nav ul li{
	display: inline;
	margin-right: 20px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	background: brown;
	margin: 10px;
	padding: 10px;	
}

nav ul li a:hover{
	background-color: pink;
}


.product{
	margin-bottom: 20px;
	background-color: skyblue
}

.product img{
	max-width: 100%;
}

.footer p Contact{
	margin-right: 10px;
}
